<div class="wrapper">
  <div id="zip-text"></div>
  <div id="zip-input"></div>
  <div id="mood-genre-text"></div>
  <div class="mood-genre-buttons">
    <div id="moods">
      <h3>Mood</h3>
      <ul id="moods-list"></ul>
    </div>
    <div id="genres">
      <h3>Genres</h3>
      <ul id="genres-list"></ul>
    </div>
  </div>
</div>

<div class="music-player"></div>