<div id="canvasloader-container" class="wrapper"></div>
<div class="weather"></div>

<div class="soundsik-wrapper">
  <div id="title"></div>
  <div id="zip-text"></div>
  <div id="zip-input"></div>
  <div id="mood-genre-text"></div>
  <div class="zip-mood-genre-box"></div>
  <div class="mood-genre-buttons">
    <div id="moods">
      <ul id="moods-list"></ul>
    </div>
    <div id="genres">
      <ul id="genres-list"></ul>
    </div>
  </div>
</div>

<div class="music-player"></div>

